
{% if user.is_authenticated %}
    Logged in as {{user.username}}
    <br>
    <form action="{% url 'logoutuser' %}" method="POST">
        {% csrf_token %}
        <button type='submit'>Logout</button>
    </form>

    <a href=" {% url 'home' %} ">Home</a>
    <a href=" {% url 'createtodo' %} ">Create</a>
    <a href=" {% url 'completedtodos' %} ">Completed</a>
    <a href=" {% url 'currenttodos' %} ">Todo List</a>
{% else %}
    <a href="{% url 'signupuser' %}">Sign Up</a>
    <br>
    <a href="{% url 'loginuser' %}">Login</a>
    <br>
{% endif %}

{% block content %}

{% endblock content %}